<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jazz-Soft</string>
	<key>Builder Version</key>
	<string>13605.1.33.1.4</string>
	<key>CFBundleDisplayName</key>
	<string>Web MIDI API</string>
	<key>CFBundleIdentifier</key>
	<string>com.jazz-soft.web-midi-api</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1.2</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>_JZZ.js</string>
				<string>content.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Web MIDI API for Safari</string>
	<key>DeveloperIdentifier</key>
	<string>76EXZ289MK</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://jazz-soft.net</string>
	<key>Update From Gallery</key>
	<true/>
</dict>
</plist>
