<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jazz-Soft</string>
	<key>Builder Version</key>
	<string>13604.5.6</string>
	<key>CFBundleDisplayName</key>
	<string>Web MIDI API</string>
	<key>CFBundleIdentifier</key>
	<string>com.jazz-soft.web-midi-api</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0.0</string>
	<key>CFBundleVersion</key>
	<string>0</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>bar.html</string>
				<key>Identifier</key>
				<string></string>
				<key>Label</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>_JZZ.js</string>
				<string>content.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Web MIDI API for Safari</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://jazz-soft.net</string>
</dict>
</plist>
